<h1>Recherche d'évènements</h1>

<div class="row">
	<div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
		<form>
			<div class="mb-3">
				<label for="q" class="form-label">Terme de recherche</label>
				<input type="text" class="form-control" id="q" />
			</div>
			<div class="mb-3">
				<label for="date_start" class="form-label">Année</label>
				<select class="form-select" id="date_start" aria-label="Année"></select>
			</div>
			<div class="mb-4">
				<label for="sort" class="form-label">Ordre des résultats</label>
				<select class="form-select" id="sort" aria-label="Ordre des résultats">
					<option value="date_start">Du plus récent au plus ancien</option>
					<option value="-date_start">Du plus ancien au plus récent</option>
					<option value="title">Titre de A à Z</option>
					<option value="-title">Titre de Z à A</option>
				</select>
			</div>
			<button class="btn btn-success">Envoyer</button>
		</form>
	</div>
</div>